{% extends 'base.html' %}

{% block title %}Пользователь{% endblock %}

{% block content %}
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-3">
                {% if user_obj.profile.avatar %}
                    <img class="avatar" src="{{ user_obj.profile.avatar.url }}" width="250" height="250"
                         alt="user picture">
                {% endif %}
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Личная страница
                        пользователя {{ user_obj.get_full_name|default:user_obj.username }}</h5>
                    <p class="card-text">Логин пользователя: {{ user_obj.username }}</p>
                    <p class="card-text">Имя: {{ user_obj.first_name }}</p>
                    <p class="card-text">Фамилия: {{ user_obj.last_name }}</p>
                    <a class="card-text"
                       href="{{ user_obj.profile.profile|default:'#' }}">Профиль на GitLab</a>
                    <p class="card-text">О себе: {{ user_obj.profile.about_profile|default:'не заполнено' }}</p>
                </div>
            </div>
        </div>
    </div>
    <div>
        {% if request.user.id == user_obj.id %}
            <a class="btn btn-info" href="{% url 'update_profile' %}">Редактировать</a>
            <a class="btn btn-danger" href="{% url 'change_password' %}">Изменить пароль</a>
        {% endif %}
    </div>

    <h2 class="text-center clear">Проекты автора:</h2>

    {% include 'common/pagination.html' %}
    {% include 'partial/project/profiles_project_list.html' %}

{% endblock %}