{% extends 'base.html' %}
{% block content %}
    <title>{{ title }}</title>
    <div class="row row-cols-1 align-items-start">
        {% for task in tasks %}
            {% if perms.issue_tracker.view_task and user in task.project.user.all or user.is_staff %}
                <div class="col py-3">
                    <div class="card" style="border: 1px solid deepskyblue;">
                        <div class="row">
                            <div class="col-md-8 px-3">
                                <div class="card-body">
                                    <h5 class="card-title" style="color: #1c1ca5">{{ task.summary }}</h5>
                                    <p>Статус: {{ task.status }}</p>
                                    <p>Тип: {% for type in task.type.all %}
                                        {{ type }}
                                    {% endfor %}</p>
                                    <p>Дата создания: {{ task.created_at|date:'Y.m.d' }}</p>
                                    <a class="btn btn-info" href="{% url 'detail_task' task.pk %}" class="card-link">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    {% if is_paginated %}
        {% include 'common/pagination.html' %}
    {% elif not tasks %}
        <div class="col py-4" style="text-align: center; color: red">
            <h4>Ошибка 404: по данному поиску: "{{ form.search.value }}"</h4>
            <h4>задачи не найдены</h4>
        </div>
    {% endif %}
{% endblock %}
