{% extends 'base_register.html' %}
{% block content %}
    <div class="container">
        <div class="register_form">
            <div class="register_form_under_div">
                <h4>Регистрация</h4>
                <form action="{% url 'register' %}" method="post" class="text-center">
                    {% csrf_token %}
                    {% if form.errors %}
                        <div class="alert alert-danger" role="alert">
                            <div>{{ form.errors }}</div>
                        </div>
                    {% endif %}
                    <div class="form-group">
                        <label for="username" class="form-label col-3">Логин</label>
                        <input class="form-control" type="text"
                               name='username' id="username">
                    </div>
                    <div class="form-group">
                        <label for="email" class="form-label col-3">Email</label>
                        <input class="form-control" type="email"
                               name='email' id="email">
                    </div>
                    <div class="form-group">
                        <label for="first_name" class="form-label col-3">Имя</label>
                        <input class="form-control" type="text"
                               name='first_name' id="first_name">
                    </div>
                    <div class="form-group">
                        <label for="last_name" class="form-label col-3">Фамилия</label>
                        <input class="form-control" type="text" name='last_name' id="last_name">
                    </div>
                    <div class="form-group">
                        <label for="password" class="form-label col-3">Пароль</label>
                        <input class="form-control" type="password"
                               name="password" id="password">
                    </div>
                    <div class="form-group">
                        <label for="password_confirm" class="form-label col-3">Повторите пароль</label>
                        <input class="form-control"
                               type="password" name="password_confirm" id="password_confirm">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success" type="submit">Регистрация</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
