<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'list_task' %}">Список задач</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/tasks/add/' %} active {% endif %}" aria-current="page"
                       href="{% url 'new_task' %}">Добавить задачу</a>
                </li>
            </ul>
        </div>
        <form class="d-flex" method="get">
            <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search" name="search"
                   value="{{ form.search.value|default:'' }}">
            <button class="btn btn-outline-success" type="submit">Поиск</button>
            {% for error in form.search.errors %}
                <p class="form-error" style="color: red">{{ error }}</p>
            {% endfor %}
        </form>
    </div>
</nav>