{% csrf_token %}
<label for="summary">Название задачи</label>
<input class="form-control {% if form.errors %} is-invalid {% endif %}" id="summary" type="text" name="summary"
       aria-describedby="summary" value="{{ form.summary.value }}">
{% for error in form.summary.errors %}
    <p class="invalid-feedback">{{ error }}</p>
{% endfor %}
<label for="description">Описание</label>
<textarea class="form-control" cols="30"
          rows="10" id="description"
          name="description">{{ form.description.value }}</textarea>
{% for error in form.description.errors %}
    <p class="invalid-feedback">{{ error }}</p>
{% endfor %}
<label for="status">Статус</label>
<select class="form-control" name="status" id="status">
    {% for status in statuses %}
        {% if status == form.status.value %}
            <option selected value="{{ status.pk }}">{{ status.status }}</option>
        {% else %}
            <option value="{{ status.pk }}">{{ status.status }}</option>
        {% endif %}
    {% endfor %}
</select>
<label for="type">Тип</label>
<select class="form-control" name="type" id="type">
    {% for type in types %}
        {% if type == form.type.value %}
            <option selected value="{{ type.pk }}">{{ type.type }}</option>
        {% else %}
            <option value="{{ type.pk }}">{{ type.type }}</option>
        {% endif %}
    {% endfor %}
</select>
<input type="submit" class="form-control btn btn-secondary" value="{{ button_text }}">
